.App {
  text-align: center;
}

.scratch {
  text-decoration: line-through;
}

.task {
  max-width: 940px;
  margin: 5px auto;
  border-bottom: 1px solid gray;
  display: flex;
}

.task span {
  flex-grow: 1;
  text-align: left;
}

button {
  margin: 5px;
}
